.btn-medium {
  color: white;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-medium:hover {
  background-color: #1bc177;
}
